<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
			<div class="container">
				<!-- Site Logo Here -->
				<a class="navbar-brand" th:href="@{/admin/home}">Iberolatina</a>
				<!-- Mobile Toggle Button -->
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarMobileToggle"
					aria-controls="navbarMobileToggle" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarMobileToggle">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="Submenu-Dropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-person-lines-fill"></i> Gestionar </a>
							<ul class="dropdown-menu rounded-3"
								aria-labelledby="Submenu-Dropdown">
								<li><a class="dropdown-item" th:href="@{/admin/users}">Usuarios</a></li>
								<li><a class="dropdown-item" th:href="@{/admin/employees}">Empleados</a></li>
								<li><a class="dropdown-item" th:href="@{/admin/customers}">Clientes</a></li>
								<li><a class="dropdown-item" th:href="@{/admin/suppliers}">Proveedores</a></li>
							</ul></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="Submenu-Dropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Servicios </a>
							<ul class="dropdown-menu rounded-3"
								aria-labelledby="Submenu-Dropdown">
								<li><a class="dropdown-item" href="#"> <i class="bi bi-credit-card-2-front-fill"></i> Pagos</a></li>
								<li><a class="dropdown-item" href="#"> <i class="bi bi-collection-fill"></i> Cobros</a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link" href="#"></a>
						</li>
					</ul>

					<!-- Right Side -->
					<div class="btn-group float-end">
						<a href="#"
							class="dropdown-toggle text-decoration-none text-light"
							data-bs-toggle="dropdown"> <i class="bi bi-people-fill"></i>
							<span sec:authentication="name"></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a href="#" class="dropdown-item"><i
									class="bi bi-lock-fill"></i> Cambiar contraseña</a></li>
							<li><a href="#" class="dropdown-item"><i
									class="bi bi-gear-fill"></i> Preferencias</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a th:href="@{/logout}" class="dropdown-item"><i
									class="bi bi-box-arrow-right"></i> Cerrar sesión</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>